.navDiv{
    color:white;
    margin-top: 20px;
}  
.navDiv ul {
    list-style: none;
    margin: 0 calc(10px + 1vw); 
    padding: 0;
  }
  
  .navDiv a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease;
  }
  .navDiv a:hover {
    color: #7a7878;
  }
  
  