body{
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  height: 100vh;
}
#vanta-bg{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  padding: 0;
  margin: clamp(15px, 3vw, 25px);
  overflow-x: hidden;
  height: calc(100vh - 50px);
  overflow-y: hidden;
  position: relative;
  z-index: 1;
 outline: 0.1px solid white;
}



@media screen and (max-width: 600px) {
 
  .bio-container p {
    font-size: 13px;
  }
  .navDiv a,.contacts-container a{
    font-size: 13px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 601px) {

  .bio-container p {
    font-size: 15px;
  }
  .navDiv a,.contacts-container a{
    font-size: 14px;
  }
}

@media screen and (min-width: 1025px) {

  .bio-container p {
    font-size: 22px;
  }
  .navDiv a,.contacts-container a{
    font-size: 16px;
  }
  
}